:root{
    --blackft: #949494
}

#footer{
    display: flex;
    background-color: #101010;
}

#fimg{
    width: 30%;
    margin-left:15% ;
}

#ftitle{
 color: var(--blackft);
 font-weight: 600;
 margin: 10px 0px 0px 22%;
}
#ftitle1{
    color: var(--blackft);
    font-weight: 600;
    width: 300px;
}

#center{
    display: flex;
    justify-content: center;
}

#part1{
    margin: 0 0 0 5%;
}
#part2{
    margin: 2% 30% 0 0%;
    width: 25vw;
}
#part3{
    margin: 2% 10% 0% 0%;
    color: var(--blackft);
    font-size: 20px;
}
#fimg2 {
    width: 80%;
    margin-left: 15%;
}
#part22{
    margin: 1% 5% 0 0%;
    width: 30vw;
    font-size: 12px;
}

#part12{
    width: 20vw;
}


@media only screen and (max-width: 600px){
    #part1{
        display: none;
    }
    #footer{
        flex-direction: column;
        padding: 5% 10%;
        
    }
    #part2{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    #part3{
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    #ftitle{
        margin: 0px;
    }
    #fi{
        justify-content: center;
    }
    #fimg2{
        width: 90vw;
    }
    #part22{
        padding: 0px 20%;
    }
    #part2{
        padding-top: 30%;
    }
}
