#box {
    display: flex;
}

#card {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
}

#cardimg {
    width: 9vw;
}

#cardimg2 {
    width: 18vw;
}

#cardimg3 {
    width: 24vw;
}

#text1 {
    width: 7vw;
    height: 30%;
    margin-left: 3%;
}

.titleh {
    font-size: 84px !important;
    font-weight: 800 !important;
    color: #787777 ;
    margin: 3% 10% !important;
    line-height: 100% !important;
}

#ctext {
    color: white;
    font-size: 15px;
}

#cspan {
    font-size: 20px;
    margin: 100px 0 0 20px;
}

#cardright {
    display: flex;
    color: #787777;
    position: relative;
    width: 100%;
}

.arrow {
    position: absolute;
    bottom: 0;
    right: 0;
}

.star {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    #titleh {
        margin: 30px 0 0 100px;
        font-size: 54px;
    }

    #text1 {
        width: 20%;
    }

    #card {
        width: 80%;
        margin: 5% 10%;
        padding: 10px;
        border-radius: 10px;
        flex-direction: column;
    }

    #cardimg2 {
        width: 100%;
    }

    .pstar {
        color: white;
        font-size: 20px;
    }

    #pcardimg {
        width: 50%;
        margin-left: 25%;
    }

    #space {
        margin-bottom: 100px;
    }
}